<table class="table table-striped table-responsive-sm table-hover table-outline mb-0">
  <thead class="thead-light">
    <tr>
      <th width="20%">Tag</th>
      <th width="80%">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>Study ID</b></td>
      <td>{{study.studyID}}</td>
    </tr>
    <tr>
      <td><b>Study Description</b></td>
      <td>{{study.studyDescription}}</td>
    </tr>
    <tr>
      <td><b>Study Instance ID</b></td>
      <td>{{study.studyInstanceUID}}</td>
    </tr>
    <tr>
      <td><b>Accession Number</b></td>
      <td>{{study.accessionNumber}}</td>
    </tr>
    <tr>
      <td><b>Study DateTime</b></td>
      <td>{{study.studyDateTime}}</td>
    </tr>
    <tr>
      <td><b>Referring Physician Name</b></td>
      <td>{{study.referringPhysicianName}}</td>
    </tr>
    <tr>
      <td><b>Additional Patient History</b></td>
      <td>{{study.additionalPatientHistory}}</td>
    </tr>
    <tr>
      <td><b>Admitting Diagnoses Description</b></td>
      <td>{{study.admittingDiagnosesDescription}}</td>
    </tr>
    <tr>
      <td><b>Study Status ID</b></td>
      <td>{{study.studyStatusID}}</td>
    </tr>
    <tr>
      <td><b>Study Priority ID</b></td>
      <td>{{study.studyPriorityID}}</td>
    </tr>
  </tbody>
</table>
<hr>