<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div style="background: #a71c37" class="card-header card-header-danger">
        <h4 class="card-title ">Properties Verifications</h4>
        <p class="card-category">Here are all Properties</p>
      </div>
      <div class="row" style="padding: 16px;">
        <div class="col-xs-3 col-md-2">
          <mat-form-field>
            <mat-label>Project Name</mat-label>
            <mat-select
              [(ngModel)]="filters.projects"
              (selectionChange)="listAllProperities()"
              multiple
            >
              <mat-option *ngFor="let p of projects" [value]="p.id" style="color: black;">
                {{ p.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xs-3 col-md-2">
          <mat-form-field>
            <input
              matInput 
              [(ngModel)]="filters.unitNumber"
              placeholder="Property Number"
              (keydown.enter)="listAllProperities()"
            />
          </mat-form-field>
        </div>
        <div class="col-xs-3 col-md-2">
          <mat-form-field>
            <input
              matInput
              [(ngModel)]="filters.ownerName"
              placeholder="Owner Name"
              (keydown.enter)="listAllProperities()"
            />
          </mat-form-field>
        </div>
        <div class="col-xs-3 col-md-2">
          <mat-form-field>
            <input
              matInput
              [(ngModel)]="filters.ownerMobile"
              placeholder="Owner Mobile"
              (keydown.enter)="listAllProperities()"
            />
          </mat-form-field>
        </div>
        <div class="col-xs-3 col-md-2">
          <mat-form-field>
            <input
              matInput
              [(ngModel)]="filters.ownerIdNumber"
              placeholder="Owner ID Number"
              (keydown.enter)="listAllProperities()"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-4 offset-md-3">
          <button
            (click)="listAllProperities()"
            class="btn btn-success"
            style="width:100%"
            mat-raised-button
          >
            Search
          </button>
        </div>
        <div class="col-xs-6 col-md-5">
          <div style="text-align: right;">
            <button
              (click)="listAllProperities()"
              class="btn btn-success refreshBtn"
              style="margin: 7px;"
              mat-raised-button
            >
              <img
                mat-raised-button
                matTooltip="Refresh Data"
                src="assets/img/refresh1.png"
                class="refreshImg"
              />
            </button>
            <button
              (click)="restAllFilters()"
              class="btn btn-success"
              mat-raised-button
            >
              Reset
            </button>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="table table-hover table-fixed" style="direction: ltr">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="table">
              <!-- Name Column -->
              <ng-container matColumnDef="Project">
                <th 
                  mat-header-cell
                  *matHeaderCellDef
                  class="text-primary"
                  style="font-weight: bold"
                >
                  Project Name
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="openUpdateDialog(element)"
                  class="pointer"
                >
                  {{ element.projectName }}
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="ProperityNumber">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  class="text-primary"
                  style="font-weight: bold"
                >
                  Property Number
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="openUpdateDialog(element)"
                  class="pointer"
                >
                  {{ element.unitNumber }}
                </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="FirstName">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  class="text-primary"
                  style="font-weight: bold"
                >
                  Owner Name
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="openUpdateDialog(element)"
                  class="pointer"
                >
                  {{ element.ownerName }}
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="MobileNumber">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  class="text-primary"
                  style="font-weight: bold"
                >
                  Owner Mobile Number
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="openUpdateDialog(element)"
                  class="pointer"
                >
                  {{ element.ownerMobile }}
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="IdNumber">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  class="text-primary"
                  style="font-weight: bold"
                >
                  Owner Id Number
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="openUpdateDialog(element)"
                  class="pointer"
                >
                  {{ element.ownerIdNumber }}
                </td>
              </ng-container>

              <ng-container matColumnDef="residency">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  class="text-primary"
                  style="font-weight: bold"
                >
                  Residency Type
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="openUpdateDialog(element)"
                  class="pointer"
                >
                  {{ element.ownerType }}
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="Verify">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <div class="btnwrap">
                    <a (click)="openUpdateDialog(element)"
                      ><i
                        class="material-icons perform-edit"
                        title="Edit"
                        style="cursor: pointer"
                        >edit</i
                      ></a
                    >
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <div>
              <app-pagination
                [currentPage]="this.filters.page"
                [totalPage]="this.totalPages"
                (pageChange)="pagination($event)"
                (sizeChange)="onPageChange($event)"
              ></app-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
