<table class="table table-responsive-sm table-hover table-outline mb-0">
  <thead class="thead-light">

    <tr>
      <th class="text-center">#</th>
      <th class="text-center">Study ID</th>
      <th class="text-center">Study Description</th>
      <th class="text-center">Study Instance UID</th>
      <th class="text-center">Accession Number</th>
      <th class="text-center">Study DateTime</th>
      <th class="text-center">Referring Physician Name</th>
      <th class="text-center">Additional Patient History</th>
      <th class="text-center">Admitting Diagnoses Description</th>
      <th class="text-center">Study Status ID</th>
      <th class="text-center">Study Priority ID</th>
      <th class="text-center">Created Date</th>
      <th class="text-center">View</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let study of studies ; let i=index" (click) = "onStudySelected(study)">
      <td class="text-center"><b>{{i+1}}</b></td>
      
      <td class="text-center"><b>{{study.studyID}}</b></td>
      <td class="text-center"><b>{{study.studyDescription}}</b></td>
      <td class="text-center"><b>{{study.studyInstanceUID}}</b></td>
      <td class="text-center"><b>{{study.accessionNumber}}</b></td>
      <td class="text-center"><b>{{study.studyDateTime}}</b></td>
      <td class="text-center"><b>{{study.referringPhysicianName}}</b></td>
      <td class="text-center"><b>{{study.additionalPatientHistory}}</b></td>
      <td class="text-center"><b>{{study.admittingDiagnosesDescription}}</b></td>
      <td class="text-center"><b>{{study.studyStatusID}}</b></td>
      <td class="text-center"><b>{{study.studyPriorityID}}</b></td>
      <td class="text-center"><b>{{study.createdDate}}</b></td>
      <td class="text-center">
        <button type="button" class="btn btn-primary" (click)="onView(study.id)">
          <i class="fa fa-eye"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<!-- <hr>
<div style="justify-content: center !important; display: flex !important;" >
  <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" class="pagination-sm"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true"
    [rotate]="true" (numPages)="numPages = $event" (pageChanged)="pageChanged($event)" [itemsPerPage]="itemsPerPage">
  </pagination>
</div>
<pre class="card card-body card-header justify-content-center">Page: {{currentPage}} / {{numPages}}</pre>
<hr> -->