<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div style="background: #a71c37" class="card-header card-header-danger">
                <h4 class="card-title ">Application Entities</h4>
                <p class="card-category">Here you can view and add application entitiy</p>
            </div>

            <div class="card-body">




                <button (click)="onAdd()" class="btn btn-success "><strong> Add AE </strong> <i
                        class="fa fa-plus-circle"></i></button>
                <table class="table table-responsive-sm table-hover table-outline mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">AE-TITLE</th>
                            <th class="text-center">Hostname</th>
                            <th class="text-center">Port</th>
                            <th class="text-center">Description</th>
                            <!-- <th class="text-center">Storage Path</th> -->
                            <th class="text-center">Status</th>
                            <th class="text-center">Start/Stop</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let entity of entities ; let i=index">
                            <td class="text-center"><b>{{items+i+1}}</b></td>
                            <td class="text-center"><b>{{entity.title}}</b></td>
                            <td class="text-center"><b>{{entity.hostname}}</b></td>
                            <td class="text-center"><b>{{entity.port}}</b></td>
                            <td class="text-center"><b>{{entity.description}}</b></td>
                            <!-- <td class="text-center"><b>{{entity.storagePath}}</b></td> -->
                            <!-- <td class="text-center"><b>{{audit.zoneId}}</b></td> -->
                            <td class="text-center">
                                <span *ngIf="entity.status" style="color:green" > Running</span>
                                <span *ngIf="!entity.status" style="color:red" > Stopped</span>
                            </td>
                            <td class="text-center">
                                <button *ngIf="!entity.status" type="button" class="btn" (click)="onStart(entity.id)">
                                    <i class="fa fa-play" style="color:green"></i>
                                    
                                </button>
                                <button *ngIf="entity.status" type="button" class="btn" (click)="onStop(entity.id)">
                                    <i class="fa fa-stop" style="color:red"></i>
                                    
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>








            </div>
        </div>
    </div>
</div>