th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 24px;
  text-align: center !important;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 24px;
  text-align: center !important;
}

.card .table tr:first-child td {
  border-top: none;
  text-align: center !important;
}
