<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-12">

        <div class="panel panel-default">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-divider">Configuration
              <!-- <span class="panel-subtitle">Configuration</span> -->
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="center" style="width: 100%;">
                  <mat-tab-group animationDuration="500ms" [(selectedIndex)]="selectedTabIndex" mat-stretch-tabs>
                    <mat-tab label="Application Entities">
                      <br>
                      <!-- <app-add-application-entity></app-add-application-entity> -->
                      <app-application-entities ></app-application-entities>
                    </mat-tab>
                    <mat-tab label="Directory Watcher">
                      <app-directory-watcher></app-directory-watcher>
                    </mat-tab>
                    
                  </mat-tab-group>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>