<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div style="background: #a71c37" class="card-header card-header-danger">
        <h4 class="card-title ">Subscriptions Categories</h4>
        <p class="card-category">Here are all Subscriptions Categories</p>
      </div>
      <div class="row" style="padding: 16px;">
        <div class="col-xs-12 col-md-3 offset-md-4">
          <mat-form-field>
            <mat-label>Types</mat-label>
            <mat-select [(value)]="selected" (selectionChange)="getData()">
              <mat-option *ngFor="let servicetype of subscribtionsTypes[0]" [value]="servicetype.id">
                {{ servicetype.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xs-3 col-md-5" style="text-align: right;">
          <button (click)="getData()" class="btn btn-success refreshBtn" style="margin: 7px;" mat-raised-button>
            <img mat-raised-button matTooltip="Refresh Data" src="assets/img/refresh1.png" class="refreshImg" />
          </button>
          <button mat-raised-button (click)="openAddUpdateDialog()" class="btn btn-success" *ngIf="showAddBtn">
            Add Item
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="table table-hover table-fixed" style="direction: ltr">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="table">
              <!-- Name Column -->
              <ng-container matColumnDef="subscribtionCatalogDescription">
                <th mat-header-cell *matHeaderCellDef class="text-primary textCenter" style="font-weight: bold">
                  Description
                </th>
                <td mat-cell *matCellDef="let element" (click)="openAddUpdateDialog(element.id)" class="pointer textCenter">
                  {{ element.description }}
                </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="subscribtionCatalogDescriptionAr">
                <th mat-header-cell *matHeaderCellDef class="text-primary textCenter" style="font-weight: bold">
                  Description Ar
                </th>
                <td mat-cell *matCellDef="let element" class="textCenter pointer" (click)="openAddUpdateDialog(element.id)">
                  {{ element.descriptionAr }}
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef class="text-primary" style="font-weight: bold">
                  Price
                </th>
                <td mat-cell *matCellDef="let element" (click)="openAddUpdateDialog(element.id)" class="pointer textCenter">
                  {{ element.price }}
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="enabled">
                <th mat-header-cell *matHeaderCellDef class="text-primary textCenter" style="font-weight: bold">
                  Enabled
                </th>
                <td mat-cell *matCellDef="let element" class="textCenter">
                  <span *ngIf="element.enabled">Yes</span>
                  <span *ngIf="!element.enabled">No</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef class="text-primary" style="font-weight: bold"></th>
                <td mat-cell *matCellDef="let element">
                  <i style="cursor: pointer;" (click)="openAddUpdateDialog(element.id)" class="material-icons">edit</i>
                </td>
              </ng-container>
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="text-primary" style="font-weight: bold"></th>
                <td mat-cell *matCellDef="let element">
                  <i style="cursor: pointer;" (click)="openConfirmDialog(element)" class="material-icons" *ngIf="element.enabled" matTooltip="Disable this item">lock_open</i>
                  <i style="cursor: pointer;" (click)="openConfirmDialog(element)" class="material-icons" *ngIf="!element.enabled" matTooltip="Enable this item">lock</i>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <div>
              <app-pagination [currentPage]="page" [totalPage]="totalPages" (pageChange)="pagination($event)" (sizeChange)="onPageChange($event)"></app-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>