<table class="table table-responsive-sm table-hover table-outline mb-0">
  <thead class="thead-light">
    <tr>
      <th class="text-center">#</th>
      <th class="text-center">Patient ID</th>
      <th class="text-center">Patient Name</th>
      <th class="text-center">Sex</th>
      <th class="text-center">Birthday</th>
      <th class="text-center">Age</th>
      <th class="text-center">Created Date</th>
      <!-- <th class="text-center"><a class="study-action-icon svg-icon-eye-h"></a></th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients ; let i=index" (click) = "onPatientSelected(patient)">
      <td class="text-center"><b>{{items+i+1}}</b></td>
      <td class="text-center"><b>{{patient.patientID}}</b></td>
      <td class="text-center"><b>{{patient.patientName}}</b></td>
      <td class="text-center"><b>{{patient.patientSex}}</b></td>
      <td class="text-center"><b>{{patient.patientBirthday}}</b></td>
      <td class="text-center"><b>{{patient.patientAge}}</b></td>
      <td class="text-center"><b>{{patient.createdDate}}</b></td>
      <!-- <td class="text-center">
        <button type="button" class="delete-btn btn btn-danger" (click)="onDelete(patient.id)">delete
          <i class="fa fa-trash"></i>
        </button>
      </td> -->
    </tr>
  </tbody>
</table>
<hr>
<div style="justify-content: center !important; display: flex !important;" >
  <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" class="pagination-sm"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true"
    [rotate]="true" (numPages)="numPages = $event" (pageChanged)="pageChanged($event)" [itemsPerPage]="itemsPerPage">
  </pagination>
</div>
<pre class="card card-body card-header justify-content-center">Page: {{currentPage}} / {{numPages}}</pre>
<hr>