<table class="table table-striped table-responsive-sm table-hover table-outline mb-0">
  <thead class="thead-light">
    <tr>
      <th width="20%">Tag</th>
      <th width="80%">Value</th>
    </tr>
  </thead>
  <tbody>
      
    <tr>
      <td><b>Series Instance UID</b></td>
      <td>{{series.seriesInstanceUID}}</td>
    </tr>
    <tr>
      <td><b>Series Number</b></td>
      <td>{{series.seriesNumber}}</td>
    </tr>
    <tr>
      <td><b>Series Description</b></td>
      <td>{{series.seriesDescription}}</td>
    </tr>
    <tr>
      <td><b>Body Part Examined</b></td>
      <td>{{series.bodyPartExamined}}</td>
    </tr>
    <tr>
      <td><b>Patient Position</b></td>
      <td>{{series.patientPosition}}</td>
    </tr>
    <tr>
      <td><b>Laterality</b></td>
      <td>{{series.laterality}}</td>
    </tr>
    <tr>
      <td><b>Protocol Name</b></td>
      <td>{{series.protocolName}}</td>
    </tr>
    <tr>
      <td><b>Operators Name</b></td>
      <td>{{series.operatorsName}}</td>
    </tr>
    <tr>
      <td><b>Series DateTime</b></td>
      <td>{{series.seriesDateTime}}</td>
    </tr>
  </tbody>
</table>
<hr>