<div class="sidebar hidden-sm-down">
    <ul class="nav in" id="side-menu" style="height: 100%;">

        <li class="sidebar-search hidden-sm hidden-md hidden-lg">
            <!-- input-group -->
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
                    <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                </span></div>
            <!-- /input-group -->
        </li>
        <li class="user-pro">
            <a href="#" class="text-center">
                <div class="profile-img">
                    <img src="assets/images/dicom-logo.jpg" />
                </div>
                <span>Dicom Server</span>
                <small class="text-center">Powered by</small>
                <small class="text-center">Almustkbal Technology</small>
            </a>
        </li>
        <li><a [routerLink]="['/dashboard']" [routerLinkActive]="['active']" class="waves-effect"><i
                    class="fa fa-home"></i> <span class="hide-menu">Dashboard</span></a></li>

        <li>
            <a [routerLink]="['/dicoms/search']" [routerLinkActive]="['active']">
                <i class="fa fa-search"></i>
                <span class="hide-menu">Search</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/dicom-viewer']" [routerLinkActive]="['active']">
                <i class="fa fa-eye"></i>
                <span class="hide-menu">Dicom Viewer</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/dicoms/upload']" [routerLinkActive]="['active']">
                <i class="fa fa-upload"></i>
                <span class="hide-menu">Dicoms Uploader</span>
            </a>
        </li>

        <li>
            <a [routerLink]="['/configuration']" [routerLinkActive]="['active']">
                <i class="fa fa-cog"></i>
                <span class="hide-menu">Configuration</span>
            </a>
        </li>


        <!-- <li class=""><a href="javascript:void(0);" class="waves-effect"><i class="fa fa-envelope-o"></i> <span
                class="hide-menu"> Mailbox <span class="fa arrow"></span><span
                class="label label-rouded label-danger pull-right">6</span></span></a>
        </li> -->
        <!-- <li>
            <a [routerLink]="['/ui-elements']" [routerLinkActive]="['active']">
                <i class="fa fa-edit"></i>
                <span class="hide-menu">UI Elements</span>
            </a>
        </li>
        <li>
            <a  [routerLink]="['/forms']" [routerLinkActive]="['active']">
                <i class="fa fa-edit"></i>
                <span class="hide-menu">Form</span>
            </a>
        </li> -->

    </ul>
</div>