
<div class="" id="page-wrapper">
    <div class="container-fluid">
        <div class="row row-stat">
            <div class="col-lg-4">
                <div class="panel panel-light noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon">
                            <img src="/assets/images/MR.png" />
                        </div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Magnetic Resonance (MR)</h5>
                            <h1 class="mt5">1,539</h1>
                        </div><!-- media-body -->
                        <hr>
                        <div class="clearfix mt20">
                            <div class="pull-left">
                                <h5 class="md-title nomargin">Yesterday</h5>
                                <h4 class="nomargin">53</h4>
                            </div>
                            <div class="pull-right">
                                <h5 class="md-title nomargin">This Week</h5>
                                <h4 class="nomargin">156</h4>
                            </div>
                        </div>

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->

            <div class="col-lg-4 col-md-6">
                <div class="panel panel-dark noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon">
                            <img src="/assets/images/CT.png" />
                        </div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Computed Tomography (CT)</h5>
                            <h1 class="mt5">1,381</h1>
                        </div><!-- media-body -->
                        <hr>
                        <div class="clearfix mt20">
                            <div class="pull-left">
                                <h5 class="md-title nomargin">Yesterday</h5>
                                <h4 class="nomargin">33</h4>
                            </div>
                            <div class="pull-right">
                                <h5 class="md-title nomargin">This Week</h5>
                                <h4 class="nomargin">94</h4>
                            </div>
                        </div>

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->

            <div class="col-lg-4 col-md-6">
                <div class="panel panel-darkest noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon">
                            <div class="panel-icon">
                                <img src="/assets/images/Mammo-graphy.png" />
                            </div>

                        </div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Mammography</h5>
                            <h1 class="mt5">8,102</h1>
                        </div><!-- media-body -->
                        <hr>
                        <div class="clearfix mt20">
                            <div class="pull-left">
                                <h5 class="md-title nomargin">Yesterday</h5>
                                <h4 class="nomargin">73</h4>
                            </div>
                            <div class="pull-right">
                                <h5 class="md-title nomargin">This Week</h5>
                                <h4 class="nomargin">234</h4>
                            </div>
                        </div>

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="white-box">
                    <app-bar-chart></app-bar-chart>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="white-box">
                    <app-line-chart></app-line-chart>
                </div>
            </div>
        </div>
    </div>
</div>
