<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div style="text-align: right;">
          <span>Last Refresh Time: {{ time }}</span>
          <button (click)="getAllStatistics()" class="btn btn-success refreshBtn" style="margin: 7px;"
            mat-raised-button>
            <img mat-raised-button matTooltip="Refresh Data" src="assets/img/refresh1.png" class="refreshImg" />
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      
      
      
      <div class="col-md-4 col-sm-12">
        <div class="card card-stats value-container" *ngIf="dashboardModel && dashboardModel.petModalityStats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <!-- <i class="material-icons">3d_rotation</i> -->
              <img src="/assets/img/MR.png" width="50px" height="50px" />
            </div>
            <p class="card-category">PET</p>
            <hr />
            <div class="row padding-horizontal">
              <div class="col-6 textCenter">
                <p class="title padding-vertical">Yasterday</p>
                <p class="value textCenter">
                  {{ dashboardModel.petModalityStats.yasterday }}
                </p>
              </div>
              <div class="col-6 text-right">
                <p class="title padding-vertical">This Week</p>
                <p class="value textCenter">
                  {{ dashboardModel.petModalityStats.lastweek }}
                </p>
              </div>
            </div>
            <p class="value text-center">
              <span class="total">Total</span>{{ dashboardModel.petModalityStats.total }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="card card-stats value-container" *ngIf="dashboardModel && dashboardModel.ctModalityStats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <img src="/assets/img/CT.png" width="50px" height="50px" />
            </div>
            <p class="card-category">CT</p>
            <hr />
            <div class="row padding-horizontal">
              <div class="col-6 textCenter">
                <p class="title padding-vertical">Yasterday</p>
                <p class="value textCenter">
                  {{ dashboardModel.ctModalityStats.yasterday }}
                </p>
              </div>
              <div class="col-6 text-right">
                <p class="title padding-vertical">This Week</p>
                <p class="value textCenter">
                  {{ dashboardModel.ctModalityStats.lastweek }}
                </p>
              </div>
            </div>
            <p class="value text-center">
              <span class="total">Total</span>{{ dashboardModel.ctModalityStats.total }}
            </p>
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-12">
        <div class="card card-stats value-container" *ngIf="dashboardModel && dashboardModel.mgModalityStats">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <img src="/assets/img/Mammo-graphy.png" width="50px" height="50px" />
            </div>
            <p class="card-category">MG</p>
            <hr />
            <div class="row padding-horizontal">
              <div class="col-6 textCenter">
                <p class="title padding-vertical">Yasterday</p>
                <p class="value textCenter">
                  {{ dashboardModel.mgModalityStats.yasterday }}
                </p>
              </div>
              <div class="col-6 text-right">
                <p class="title padding-vertical">This Week</p>
                <p class="value textCenter">
                  {{ dashboardModel.mgModalityStats.lastweek }}
                </p>
              </div>
            </div>
            <p class="value text-center">
              <span class="total">Total</span>{{ dashboardModel.mgModalityStats.total }}
            </p>
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-12">
        <div class="card card-stats value-container" *ngIf="dashboardModel && dashboardModel.dxModalityStats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <img src="/assets/img/MR.png" width="50px" height="50px" />
            </div>
            <p class="card-category">DX</p>
            <hr />
            <div class="row padding-horizontal">
              <div class="col-6 textCenter">
                <p class="title padding-vertical">Yasterday</p>
                <p class="value textCenter">
                  {{ dashboardModel.dxModalityStats.yasterday }}
                </p>
              </div>
              <div class="col-6 text-right">
                <p class="title padding-vertical">This Week</p>
                <p class="value textCenter">
                  {{ dashboardModel.dxModalityStats.lastweek }}
                </p>
              </div>
            </div>
            <p class="value text-center">
              <span class="total">Total</span>{{ dashboardModel.dxModalityStats.total }}
            </p>
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-12">
        <div class="card card-stats value-container" *ngIf="dashboardModel && dashboardModel.dfModalityStats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <img src="/assets/img/CT.png" width="50px" height="50px" />
            </div>
            <p class="card-category">DF</p>
            <hr />
            <div class="row padding-horizontal">
              <div class="col-6 textCenter">
                <p class="title padding-vertical">Yasterday</p>
                <p class="value textCenter">
                  {{ dashboardModel.dfModalityStats.yasterday }}
                </p>
              </div>
              <div class="col-6 text-right">
                <p class="title padding-vertical">This Week</p>
                <p class="value textCenter">
                  {{ dashboardModel.dfModalityStats.lastweek }}
                </p>
              </div>
            </div>
            <p class="value text-center">
              <span class="total">Total</span>{{ dashboardModel.dfModalityStats.total }}
            </p>
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-12">
        <div class="card card-stats value-container" *ngIf="dashboardModel && dashboardModel.patientStats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">accessibility</i>
            </div>
            <p class="card-category">Patients</p>
            <hr />
            <div class="row padding-horizontal">
              <div class="col-6 textCenter">
                <p class="title padding-vertical">Yasterday</p>
                <p class="value textCenter">
                  {{ dashboardModel.patientStats.yasterday }}
                </p>
              </div>
              <div class="col-6 text-right">
                <p class="title padding-vertical">This Week</p>
                <p class="value textCenter">
                  {{ dashboardModel.patientStats.lastweek }}
                </p>
              </div>
            </div>
            <p class="value text-center">
              <span class="total">Total</span>{{ dashboardModel.patientStats.total }}
            </p>
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-12">
        <div class="card card-stats value-container" *ngIf="dashboardModel && dashboardModel.studyStats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">notes</i>
            </div>
            <p class="card-category">Studies</p>
            <hr />
            <div class="row padding-horizontal">
              <div class="col-6 textCenter">
                <p class="title padding-vertical">Yasterday</p>
                <p class="value textCenter">
                  {{ dashboardModel.studyStats.yasterday }}
                </p>
              </div>
              <div class="col-6 text-right">
                <p class="title padding-vertical">This Week</p>
                <p class="value textCenter">
                  {{ dashboardModel.studyStats.lastweek }}
                </p>
              </div>
            </div>
            <p class="value text-center">
              <span class="total">Total</span>{{ dashboardModel.studyStats.total }}
            </p>
          </div>
        </div>
      </div>


      
    </div>
  </div>
</div>